.nav {
  background-color: var(--color-bg-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  font-family: var(--font-primary);
  font-weight: 600;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px;
  display: flex;
}
.nav-item:first-child {
  border-left: none;
}

.link {
  color: rgb(236, 236, 236);
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
}

.link:hover {
  color: var(--color-primary-light);
  transform: scale(1.1, 1.1);
  transition: transform var(--transition-fast);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-bg-darker);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.dropdown-menu li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-menu li:last-child {
  border-bottom: none;
}
.dropdown-menu .link {
  display: block;
  padding: 8px 12px;
  color: var(--color-white);
  font-size: small;
}

.dropdown:hover .link:hover {
  color: var(--color-primary-light);
  transform: scale(1.1, 1.1);
  transition: transform var(--transition-fast);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text-light);
  font-weight: 400;
  font-size: small;
  padding: 10px;
  background-color: var(--color-bg-dark);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 10vh;
  border: none;
}
