div {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --ion-color-primary: #1db954;
  --ion-color-secondary: #535353;
  --ion-color-tertiary: #1ed760;
  --ion-color-success: #1ed760;
  --ion-color-warning: #ffcc00;
  --ion-color-danger: #ff3b30;
  --ion-color-light: #f4f4f4;
  --ion-color-dark: #000000;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
