
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 95vh;
  }
h1 {
  text-align: center;
  margin-top: 20px;
  color: var(--color-text-light);
  font-weight: 500;
}

.form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  font-family: var(--font-primary);
  font-weight: 500;
  min-width: 40%;
  min-height: 60%;
  border-radius: 10px;
  padding: 20px 20px;
 }

 .text-field {
  width: 75%;
  margin-bottom: 20px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  background-color: transparent;
  color: var(--color-text-light);
  border: 1px solid #ccc;
  border-radius: 3px;
 }

 .text-field:focus {
  outline: var(--color-text-light);
  outline-offset: 2px;
  border-color: var(--color-primary);
  box-shadow: 0 0 2px var(--color-primary-shadow);
  transition: border-color var(--transition-normal), box-shadow var(--transition-normal);
 }

 .label {
  font-size: 14px;
  color: var(--color-text-light);
  margin-bottom: 5px;
 }

 .login-button {
  width: 50%;
  height: 35px;
  background-color: var(--color-primary-dark);
  color: #202020;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
 }

 .login-button:hover {
  background-color: var(--color-primary);
  transition: background-color var(--transition-normal);
 }

 .register-link {
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
 }

 .register-link:hover {
  text-decoration: underline;
  color: var(--color-primary);
 }
